@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin-ext');
@import "reset";
@import "mq";
@import "variables";
@import "header";
@import "typo";
@import "table";


//styles

iframe {
  width: 100%;
  height: auto;
}

figure {
  width: 100% !important;
}

.body { 
	background-color: $bg-primary;
	font-family: $primary;
	font-size: $default;
  overflow-x:hidden;
}

.main {	
		width:100%;
    min-height: 90vh;

	&__inner {
		padding: 1rem;
		padding-top: 5rem;


	@include mq($from: mobile-landscape) {
		padding: 5rem;
		
	}

	@include mq($from: tablet) {
		padding: 10rem;
		padding-top: 5rem;
		margin: auto;
	}


	@include mq($from: desktop) {
		width: 600px;
		margin: auto;
	}

	@include mq($from: wide) {
		width: 600px;
		margin: auto;
	}

	}
}

img {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: .5rem;

	@include mq($from: mobile-landscape) {
		padding: 1rem;
	}
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
	  background-size: cover;
	  filter: grayscale(100%);
    opacity: 0.6;
	  transition: 1s opacity;
}

.video__filter { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -10;
    transform: translateX(-50%) translateY(-50%);
    background-color: $bg-primary;
    mix-blend-mode: multiply;
	  background-size: cover;
    opacity: .3;
	  transition: 1s opacity;
}

#footer {
	text-align: center;
	color: $secondary-light;
}

.comment-box {
  padding: 1rem;
}

.comments {
  display: none;
}

textarea {
	border: none;
	margin-bottom: .5rem;
  width:100%;
}

button {
	border: none;
	padding: .3rem .8rem;
	background-color: $secondary;
}

.blog-author {
	color: $secondary-light;
}

.article-body {
  ul {
    list-style: disc;
    padding-left: 2rem;
  }
}