.article-h1 {
	font-weight: 700;	
	padding-bottom: 1rem;
}

h3 {
	font-weight: 700;
	margin-bottom: .5rem;
}

//links

a {
	color: inherit;
	text-decoration: none;
	&:hover {
		font-weight: 700;

	}
}

p {
	margin-bottom: .5rem;
	a {
		color: inherit;
		text-decoration: underline !important;
		&:hover {
			font-weight: 700;

		}
	}
}