@import "reset";
@import "mq";
@import "variables";
@import "header";
@import "typo";


//styles
.body { 
	background-color: $bg-primary;
	font-family: $primary;
	font-size: $default;
}

.main {	
		width:100%;
    min-height: 90vh;

	&__inner {
		padding: 1rem;
		padding-top: 5rem;


	@include mq($from: mobile-landscape) {
		padding: 5rem;
		
	}

	@include mq($from: tablet) {
		padding: 10rem;
		padding-top: 5rem;
		margin: auto;
	}


	@include mq($from: desktop) {
		width: 600px;
		margin: auto;
	}

	@include mq($from: wide) {
		width: 800px;
		margin: auto;
	}

	}
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
	  background-size: cover;
	  filter: grayscale(100%);
    opacity: 0.6;
	  transition: 1s opacity;
}

.video__filter { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -10;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(183, 151, 41, 0.43);
    mix-blend-mode: multiply;
	  background-size: cover;
    opacity: .3;
	  transition: 1s opacity;
}

#footer {
	text-align: center;
	color: $secondary-light;
}

.comment-box {
  padding: 1rem;
}

.comments {
  display: none;
}

textarea {
	border: none;
	margin-bottom: .5rem;
}

button {
	border: none;
	padding: .3rem .8rem;
	background-color: $secondary;
}

.blog-author {
	color: $secondary-light;
}