<div class="component-table">
    <table>
        <tr>
            <th colspan="2">komponenty</th>
        </tr>
        <tr>
            <td>Motor</td>
            <td>{{ modely_register_meta_boxes }}</td>
        </tr>
        <tr>
            <td>ESC</td>
            <td></td>
        </tr>
        <tr>
            <td>vrtule</td>
            <td></td>
        </tr>
        <tr>
            <td>serva</td>
            <td></td>
        </tr>
        <tr>
            <td>přijímač</td>
            <td></td>
        </tr>
        <tr>
            <th colspan="2">doplňky</th>
        </tr>
        <tr>
            <td colspan="2"></td>
        </tr>
    </table>    
</div>