{% extends "base.twig" %}

{% block content %}
			<div class="video__filter"></div>
			<video poster="" id="bgvid" playsinline autoplay muted loop>
				  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
				<!-- <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm"> -->
				<source src="{{site.theme.link}}/video.mp4xx" type="video/mp4">
			</video>

			{% for post in posts %}
				{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
			{% endfor %}
	<h2></h2>
	<p></p>
{% endblock %}