{% extends "tease.twig" %}

{% block content %}
	<h2 class="h2--category"><a href="{{post.link}}">{{post.title}}</a></h2>
		{% if post.thumbnail.src %}
			<img src="{{post.thumbnail.src}}" />
		{% endif %}
{% endblock %}